/*.aux
/*.bbl
/*.bcf
/*.blg
/*.fdb_latexmk
/*.fls
/*.log
/*.out
/*.run.xml
/*.synctex.gz
/*.toc
/main.pdf
/supplementary_material.pdf
/artifact_index.html
/figures/
*.zip
*.pyc
__pycache__/
.venv/
dist/
build/
